// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order_list th,
.order_list td {
  padding: 0px 5px;

}
.order_list_item_names{
  width:20%;
}
.order_list_payment{
  width:10%;
}
.order_list_status{
  width:12%;
}
.order_list_link{
  width:10%;
}
.heading{
  margin:25% 0;
}
.order_info_h{
  margin-top:1%;
  margin-bottom:1%;
}
// .order_info_address{
//   width:25%;
// }
// .billing_info th,
// .billing_info td
// .billing_info tr{
//   padding: 0% 5%;
// }
.box{
  height:10%;
}
.order_contents{
  margin-bottom:10%;
}